/*
You do not need to worry about .error {} colliding with any other `.css` or
`.module.css` files!
*/
.error {
  visibility: none;
  color: white;
  text-decoration: none;
}

.error:hover {
  color: white;
  background-color: red;
}

.body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}
