@font-face {
  font-family: "Halo";

  src: url("../src/fonts/Halo.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../src/fonts/Halo.woff") format("woff"), /* Modern Browsers */
    url("../src/fonts/Halo.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}



.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  margin-bottom: 15px;
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #282c34;
  background-image: url('./mcc.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /*color: #61dafb;*/
  color: #fff;
  text-decoration: none;
  opacity: 80%;
}

.App-link:hover {
  font-size: calc(11px + 2vmin);
  opacity: 100%;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}

.modal-main {
  position:fixed;
  background: black;
  width: 60%;
  max-height: 100vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: left;
  font-size: calc(2px + 2vmin);
  overflow-y: auto;
}

section {
  position: relative;
  overflow-y: auto;
}

.modal-main img {
  float: left;
  padding: 20px 20px 10px 0px;
}

.game-title {
  font-family: "Halo";
  position: sticky;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
